.band-logo {
    position: absolute;
    right: 0;
    top: .5rem;
    max-width: 10rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

footer {
  background-color: grey;
  text-align: center;
 }
 footer a {
     text-decoration: none;
     /* margin-right: 10px; */
     width: 100%;
     color: white;
 }
 
 footer span {
     margin: 0 4px;
     color: white;
 }
 footer strong {
     margin-right: 5px;
     color: white;
 }



a, a:hover, a:visited, a:link {
    text-decoration: none;
    /* color: white; */
}

.hidden {
    display: none;
}

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    
    opacity: 0.7;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    cursor: pointer;

  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  /* * {
    box-sizing: border-box;
  } */
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }

  
  
  .nav-link>li.active>a, .nav-link>li.active>a:focus, .nav-link>li.active>a:hover {
    color: #337ab7;;
  }

  .nav-link {
    color: #337ab7;
  }



  

  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
    
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }

    .band-logo {
        display: none;
    }
  }

  @media screen and (max-width: 768px) {
      .sidenav {
          height: 216px;

      }

      #artists-bio {
        min-height: 68.8vh;
      }
  }